section.form {
  width: 100%;
  background: rgba(0,0,0,.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: all .2s ease;
}

section.form h3 {
  font-size: 28px;
  text-align: center;
  background-color: var(--bg-dark);
  width: 100%;
  padding: 5px 0;
  margin-bottom: 20px;
}

section.form h3 span.green {
  color: var(--green);
}

.form_box {
  width: 95%;
  max-width: 500px;
  background: #3B3B98;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px 5px;
}

.form_box .input_box {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px auto;
}

.form_box .input_box label {
  font-weight: bold;
  color: white;
  background-color: var(--dark-blue);
  width: 100%;
  padding: 5px;
  cursor: text;
  border: 1px solid var(--green2);
  border-bottom: none;
}

.form_box .input_box input, .input_box textarea {
  width: 100%;
  border: 0;
  border-radius: 0;
  outline: none;
  font-size: 18px;
  background-color: #182C61;
  padding: 5px;
  color: white;
  transition: all .2s ease;
  border: 1px solid #cee;
  border-top: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input_box textarea {
  resize: none;
  height: 100px;
  overflow-wrap: initial;
}

.input_box textarea:focus {
  border: 1px solid var(--light-blue);
  border-top: none;
}

.form_box .input_box input:focus {
  border: 1px solid var(--light-blue);
  border-top: none;
}

.form_box .input_box input:valid {
  border: 1px solid var(--green);
  border-top: none;
}

.form_box .input_box input:focus:invalid {
  border: 1px solid var(--red);
  border-top: none;
}

.start {
  width: 90%;
  border: none;
  cursor: pointer;
  background-color: var(--green2);
  font-weight: bold;
  color: white;
  margin: 10px 0;
  padding: 5px;
  font-size: 25px;
  transition: all .2s ease-in-out;
}

.start:hover {
  background-color: var(--green2-dark);
}


footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

footer a.link {
  margin: 0 20px;
}

@media screen and (max-width: 400px) {
  section.body {
    padding: 0 !important;
  }
  .form {
    width: 100%;
    background: transparent;
    margin: 30px 0;
  }
  .form_box {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
}

@media screen and (max-width: 360px) {
  .form h3 {
    font-size: 20px !important;
  }
}