.form_container {
  background: #4b4b4b;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: #7efff588 0px 7px 29px 0px;
  transition: all .2s linear;
}

.form_container > .input_box {
  width: 80%;
  margin: 20px auto;
  background-color: transparent;
  border: none;
  border: 1px solid white;
  border-radius: 18px;
  height: 40px;
  outline: none;
  color: white;
  padding: 5px 10px 0px 10px;
  font-size: 20px;
  transition: all .2s linear;
}

.form_container > .input_box:focus,
.form_container > .input_box:hover:focus,
.form_container > .input_box:active {
  background: #3d3d3d;
  border-color: #18dcff;
}

.form_container > .input_box:valid {
  background: #3d4d3d;
  border-color: #32ff7e;
}

.form_container > .input_box:hover:valid {
  background: #3d4d3d;
  border-color: #32ff7e;
}

.form_container > .input_box:hover {
  background: #344350;
}

.text_box {
  width: 90%;
  max-width: 500px;
  height: 50%;
  max-height: 450px;
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid #bdc3c7;
  background: #2c3e50;
  color: white;
  padding: 5px 10px 0px 10px;
  outline: none;
  font-size: 20px;
  resize: none;
  overflow-wrap: initial;
}

.text_box::-webkit-scrollbar,
.text_box::-webkit-scrollbar-corner {
  width: 8px;
  height: 8px;
  background-color: #34495e;
}

.text_box::-webkit-scrollbar-thumb {
  background-color: #7f8c8d;
  border-radius: 5px;
}

.text_box::-webkit-scrollbar-thumb:hover {
  background: #4f8c8d !important;
}

button[name="go"] {
  width: 90%;
  max-width: 500px;
  font-size: 23px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bolder;
  background-color: #16a085;
  margin: 0 auto;
  cursor: pointer;
  padding: 10px 0;
  box-sizing: border-box;
  margin-top: 20px;
  transition: all .2s ease;
}

button[name="go"]:active,
button[name="go"]:focus,
button[name="go"]:hover {
  background: #1abc9c;
}

@media screen and (max-width: 460px) {
  .form_container {
    width: 90%;
  }
}

@media screen and (max-width: 360px) {
  .form {
    min-height: calc(100vh - 40px) !important;
  }

  .form_container {
    justify-content: center;
  }

  .form_container .input_box {
    margin: 10px auto;
  }

  .form_container .text_box {
    height: 40%;
  }
}
