:root {
  --width-photo: 100px;
}

.image_profile {
  transition: all 0.2s linear;
  width: var(--width-photo);
  height: var(--width-photo);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
  box-sizing: content-box;
  cursor: pointer;
}

.image_profile img {
  transition: all 0.2s linear;
  width: var(--width-photo);
  position: absolute;
  top: -20px;
  transform: rotate(-30deg);
}

.image_profile:hover {
  transform: scale(1.15);
}
