section.side_right {
  flex: 1;
  height: 100%;
  min-height: 650px;
  min-width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 500px) {
  section.side_left {
    border: none;
    border-bottom: 2px solid white;
    min-height: 100vh;
    min-width: 100%;
    align-items: center;
    justify-content: center;
  }

  section.side_right {
    min-width: 100%;
    min-height: 100%;
    flex-wrap: wrap;
  }
  footer.r {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .informations {
    z-index: 10;
    position: static;
  }

  footer.r {
    position: static;
    padding: 10px 0;
  }
}

.informations {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: #3c40c6;

}

.informations h1 {
  font-size: 25px;
  text-align: left;
  width: calc(100% + 20px);
  margin-top: -10px;
  padding: 5px 10px;
  background-color: #485460;
  border-bottom: 2px solid white;
}

.cards {
  width: 95%;
  max-width: 500px;
  padding: 5px;
}

.card {
  width: 100%;
  background-color: rgba(217, 227, 247, 0.5);
  border-radius: 10px;
  padding: 10px 0;
  margin: 10px 0;
  transition: all 0.2s linear;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.card .name_card {
  margin-top: -10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid white;
  background: red;
  text-align: left;
  padding: 5px 10px;
  background-color: rgba(107, 160, 232, 0.5);
  pointer-events: none;
}

.pr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  margin: 10px;
  pointer-events: none;
}

.card .percents {
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 80%;
  background-color: rgba(75, 207, 250, 0.6);
  pointer-events: none;
}

.card .percents > span {
  background-color: white;
  border-radius: 10px;
  height: 100%;
  transition: all 0.3s linear;
  pointer-events: none;
}

.value_percents {
  font-size: 18px;
  font-weight: 600;
  pointer-events: none;
}

.value_percents::after {
  content: "%";
  color: #f53b57;
  pointer-events: none;
}
